.container {
    width: 900px;
    margin: 0 auto;
    background-color: #ddd;
}
.miniature {
    display: flex;
    justify-content: center;
}
.miniature__item {
    width: 160px;
    height: 160px;
    margin: 10px;
    border: 4px solid orange;
    border-radius: 50%;
}